@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lost and Found</title>
    <link href="~/Content/LandingPage/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" /><!-- fontawesome -->
    <link href="~/Content/LandingPage/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" /><!-- Bootstrap stylesheet -->
    <link href="~/Content/LandingPage/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
    <!-- stylesheet -->
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="lost, found, searching" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--//fonts-->
    <script type="text/javascript" src="~/Content/LandingPage/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/LandingPage/js/main.js"></script>
    <!-- Required-js -->
    <!-- main slider-banner -->
    <script src="~/Content/LandingPage/js/skdslider.min.js"></script>
    <link href="~/Content/LandingPage/css/skdslider.css" rel="stylesheet">
    <script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':false,'showPlayButton':true,'autoSlide':false,'animationType':'fading'});

			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});

		});
    </script>
    <!-- //main slider-banner -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/LandingPage/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/LandingPage/js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
    <!-- scriptfor smooth drop down-nav -->
    <script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
    </script>
    <!-- //script for smooth drop down-nav -->
</head>
<body>
    <!-- header -->
    <header>
        <div class="w3layouts-top-strip">
            <div class="container">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")" title="Widget View">
                        <img alt="Widget View" src="~/Content/LandingPage/images/lupa1.jpg" style="width:100px; position:absolute; right:20px;">
                    </a>
                    <a href="@Url.Action("IndexZ", "Home")" style="font-size:94px; color:orange">LOST AND FOUND</a>

                    <p>lets make a Life Easier</p>
                </div>
                <div class="w3ls-social-icons">
                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    <a class="linkedin" href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
        <!-- navigation -->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--<li><a class="active" href="index.html">Home</a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add new item<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="font-size:77px">
                                <li>@Html.ActionLink("I have found...", "Create", "Items")</li>
                                <li>@Html.ActionLink("I have lost...", "Create", "LostItems")</li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore items <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Found items", "Index", "Items")</li>
                                <li>@Html.ActionLink("Lost items", "Index", "LostItems")</li>

                            </ul>
                        </li>
                        <li> @Html.ActionLink("About", "About", "Home") </li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                <!--<div class="w3_agile_login">
                    <div class="cd-main-header">
                        <a class="cd-search-trigger" href="#cd-search"> <span></span></a>
                        <!-- cd-header-buttons -- >
                    </div>
                    <div id="cd-search" class="cd-search">
                        <form action="#" method="post">
                            <input name="Search" type="search" placeholder="Search...">
                        </form>
                    </div>
                </div>
                    -->
                <div class="clearfix"> </div>

            </div><!-- /.container-fluid -->
        </nav>

        <!-- //navigation -->
    </header>
    <!-- //header -->
    <!-- top-header and slider -->
    <div class="w3-slider">
        <!-- main-slider -->
        <ul id="demo1">
            <li>
                <img src="~/Content/LandingPage/images/1.jpg" alt="" />
                <!--Slider Description example-->
                <div class="slide-desc">
                    @*<h3 style="color:orange; font-size:84px">Lost or found something?</h3>*@
                    <a class="agileits w3layouts" href="@Url.Action("Create", "Items")" style="font-size:54px">I have found <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
                    <a class="agileits w3layouts" href="@Url.Action("Index", "LostItems")" style="font-size:54px">I have lost <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
                </div>

    </li>
    </ul>
    </div>


    <!-- //main-slider -->
    <!-- //top-header and slider -->
    <div class="container">
        <div class="banner-btm-agile">
            <!-- //btm-wthree-left -->
            <div class="col-md-9 btm-wthree-left">

                <h3>Latest news</h3>
                <br />

                <div class="wthree-top">
                    <div class="w3agile-top">
                        <div class="w3agile_special_deals_grid_left_grid">
                            <a href="singlepage.html"><img src="~/Content/LandingPage/images/4.jpg" class="img-responsive" alt="" /></a>
                        </div>
                        <div class="w3agile-middle">
                            <ul>
                                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>FEB 15,2017</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>BY: USER1</a></li>
                                <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>15 COMMENTS</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="w3agile-bottom">

                        <div class="col-md-9 w3agile-right">
                            <h3 style="font-size:24px;"><a href="singlepage.html">Amet consectetur adipisicing </h3>
                            <p style="font-size:22px; color: black !important">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis aute irudre dolor in elit sed uta labore dolore reprehender</p>
                            <a class="agileits w3layouts" href="singlepage.html">Read More <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!-- wthree-top-1 -->
                <div class="wthree-top-1">
                    <div class="w3agile-top">
                        @*<section class="slider">
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <div class="w3agile_special_deals_grid_left_grid">
                                                <a href="singlepage.html"><img src="~/Content/LandingPage/images/2.jpg" class="img-responsive" alt="" /></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="w3agile_special_deals_grid_left_grid">
                                                <a href="singlepage.html"><img src="~/Content/LandingPage/images/3.jpg" class="img-responsive" alt="" /></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="w3agile_special_deals_grid_left_grid">
                                                <a href="singlepage.html"><img src="~/Content/LandingPage/images/3.jpg" class="img-responsive" alt="" /></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section>*@
                        <!-- flexSlider -->
                        <script defer src="~/Content/LandingPage/js/jquery.flexslider.js"></script>
                        <script type="text/javascript">
                                $(window).load(function () {
                                    $('.flexslider').flexslider({
                                        animation: "slide",
                                        start: function (slider) {
                                            $('body').removeClass('loading');
                                        }
                                    });
                                });
                        </script>
                        <!-- //flexSlider -->
                    </div>
                </div>
                <!-- //wthree-top-1 -->
                <!-- wthree-top-1 -->
                <div class="wthree-top-1">
                </div>
                <!-- //wthree-top-1 -->
                <!-- wthree-top-1 -->
                <div class="wthree-top-1">
                </div>
                <!-- wthree-top-1 -->

            </div>
            <!-- //btm-wthree-left -->
            <!-- btm-wthree-right -->
            <div class="col-md-3 w3agile_blog_left">
                @*<div class="wthreesearch">
                    <form action="#" method="post">
                        <input type="search" name="Search" placeholder="Search here" required="">
                        <button type="submit" class="btn btn-default search" aria-label="Left Align">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>

                </div>*@

                <div class="agileinfo_calender">
                    <h3>CONNECT SOCIALLY</h3>
                    <div class="w3ls-social-icons-1">
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        <a class="linkedin" href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>

                <div class="w3ls_popular_posts">
                    <h3>Highlighted</h3>
                    <div class="agileits_popular_posts_grid">
                        <div class="w3agile_special_deals_grid_left_grid">
                            <a href="singlepage.html"><img src="~/Content/LandingPage/images/5.jpg" class="img-responsive" alt="" /></a>
                        </div>
                        <h4><a href="singlepage.html">Tellus Faucibus Eleifend Sit Amet</a></h4>
                        <h5><i class="fa fa-calendar" aria-hidden="true"></i>FEB 15,2017</h5>
                    </div>
                </div>

                <br />

                <div class="w3l_tags">
                    <h3>Tags</h3>
                    <ul class="tag">
                        <li><a href="singlepage.html">Wallet</a></li>
                        <li><a href="singlepage.html">Phone</a></li>
                        <li><a href="singlepage.html">Briefcase</a></li>
                        <li><a href="singlepage.html">Umbrela</a></li>
                        <li><a href="singlepage.html">Keys</a></li>
                    </ul>
                </div>

                <!--
                <div class="w3l_categories">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="singlepage.html"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>tellus faucibus eleifend sit amet</a></li>
                        <li><a href="singlepage.html"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Mauris ut odio sed nisi convallis</a></li>
                        <li><a href="singlepage.html"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Curabitur a sapien et tellus faucibus</a></li>
                        <li><a href="singlepage.html"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>porta nunc eget, lobortis nulla</a></li>
                        <li><a href="singlepage.html"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Sed ut metus turpis cursus convallis</a></li>
                        <li><a href="singlepage.html"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Maecenas cursus at ex a faucibus</a></li>
                    </ul>
                </div>
                 -->
                <!--
                    <div class="w3ls_recent_posts">
                     <h3>Latest items</h3>
                     <div class="agileits_recent_posts_grid">
                         <div class="agileits_recent_posts_gridl">
                             <div class="w3agile_special_deals_grid_left_grid">
                                 <a href="singlepage.html"><img src="~/Content/LandingPage/images/r1.jpg" class="img-responsive" alt="" /></a>
                             </div>
                         </div>
                         <div class="agileits_recent_posts_gridr">
                             <h4><a href="singlepage.html">velit esse quam nihil</a></h4>
                             <h5><i class="fa fa-calendar" aria-hidden="true"></i>FEB 15,2017</h5>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                 -->
            </div>

        </div>
        <!-- //btm-wthree-right -->
        <div class="clearfix"></div>
    </div>
    <!-- footer -->
    <div class="footer-agile-info">
        <div class="container">
            <div class="col-md-4 w3layouts-footer">
                <h3>Contact Information</h3>
                <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Zelenih beretki 999, Sarajevo, Bosnia and Herzegovina</p>
                <p><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="#">E: info [at] lostfound.com</a> </p>
                <p><span><i class="fa fa-mobile" aria-hidden="true"></i></span>P: +387 2564584 / +387 8245658 </p>
                <p><span><i class="fa fa-globe" aria-hidden="true"></i></span><a href="#">W: www.lostfound.com</a></p>
            </div>
            <div class="col-md-4 wthree-footer">
                <h2>Lost and found app</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis aute .</p>
            </div>
            <div class="col-md-4 w3-agile">
                <h3>Newsletter</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Email" required="">
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="w3agile-list">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Found Items", "Index", "Items")</li>
                    <li>@Html.ActionLink("Lost Items", "Index", "LostItems")</li>
                </ul>
            </div>
            <div class="agileinfo">
                <p>© 2017 Lost and Found</a></p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/LandingPage/js/bootstrap.js"></script>
</body>
</html>